/backups
/data/Lgalaxies/*
!/data/Lgalaxies/process
/data/SDSS
/data/TNG
/env
/SLH2020
/SLH2020b
/SLH2020_outdated
/outputs
__pycache__/
/sketches
/snippets
/Tinker_group_finder
/trash

/SLH2020_pub/data/LGalaxies/*
/SLH2020_pub/data/SDSS/*
/SLH2020_pub/figures/*
/SLH2020_pub/investigations

/*.py
!/two_point_tools.py
*.ipynb
!plots.ipynb
