/data/Lgalaxies/*
!/data/Lgalaxies/process
/data/SDSS
/data/TNG
/env
/SLH2020
/SLH2020b
/SLH2020_outdated
/outputs
__pycache__/
/sketches
/SLH2020_pub/*
!/SLH2020_pub/scripts
/snippets
/Tinker_group_finder
/trash
/*.py
!/two_point_tools.py
*.zip
*.ipynb
!plots.ipynb
